@font-face {
    font-family: "Montserrat-Bold";
    src: url("assets/Montsrrat-Bold.ttf") format('ttf')
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("assets/Montsrrat-Regular.ttf") format('ttf')
}

@font-face {
    font-family: "Hijrnotes";
    src: url("assets/Hijrnotes.ttf") format('ttf')
}


canvas{
    position: absolute;
    opacity:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;

}

body {
    overflow: hidden;
    overscroll-behavior-y:none;
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.year-content-overlay{
    position: absolute;
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.year{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 20%;
    font-family: Montserrat-Black;
    color:#fff;
    font-size: 90px;
    text-align: center;

}
.content{
    position: absolute;
    top: 50%;
    height: 50%;
    width: 20%;
    text-align: justify;
    font-family: Montserrat-Regular;
    color:#fff;
    font-size: 15px;
    line-height: 25px;
}
.content-right{
    right: 20%;

}

.content-left{
    left : 20%;
}


.sidebar{
    position: absolute;
    z-index: 3;
    right: 0;
    opacity:0;
    top: 0;
    width: 7vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0px;
    z-index: 1;
    align-items: center;
    border-left: 1px solid hsla(0, 0%, 58.4%, 0.3);
}
.sidebar-container-year{
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #777;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    transition: all linear 0.2s;
    
}

.sidebar-container-year.active{
    color: #fff;
    padding: 15px 0;
}
.sidebar-cursor{
    position: absolute;
    z-index: 4;
    left: 0;
    top: 50%;
    width: 1vw;
    height: 1px;
    transform: translateX(-50% );
    margin-left: -1px;
    border-bottom: 1px solid #4075e5;
}

.intro{
    display: flex;
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.title-primary{
    font-family: Hijrnotes;
    color: #fff;
    font-size: 35px;
}
.title-secondary{
    font-family: Montserrat-Bold;
    color: #fff;
    font-size: 50px;
    letter-spacing: 5px;
}

.subtitle, .progress{
    font-family: Montserrat-Regular;
    color: rgb(175, 175, 175);
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.progress-bar{
    width: 100px;
    height: 1px;
    background-color: hsla(0, 0%, 77.7%, 0.3);
}
.progression{
    height: 1px;
    background: #4075e5;
    width: 0%;
    transition: width linear 0.25s;
}
.progress-number{
    margin: 0 10px;
    
}

